*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------- */

main{
    max-width: 50%;
    margin: 2rem auto;
    border-radius: 4px;
    border: 1px solid darkgray;

}

header{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: hsl(147, 40%, 47%);
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.281);
    margin-bottom: 3rem;
}

header span{
    font-size: 1.8rem;
    font-weight: 200;
    padding-left: 1.5rem;
    vertical-align: middle;
}

h1{
    font-size: 2.5rem;
    padding: 0 2rem;
}

p{
    padding: 2rem;
    font-size: 2rem;
    text-align: justify;
}